albumentations @ file:///home/conda/feedstock_root/build_artifacts/albumentations_1686576355052/work
bcrypt==5.0.0
bidict==0.23.1
blinker==1.8.2
Brotli @ file:///C:/b/abs_3d36mno480/croot/brotli-split_1714483178642/work
certifi @ file:///C:/b/abs_1fw_exq1si/croot/certifi_1725551736618/work/certifi
charset-normalizer==2.1.1
click==8.1.8
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
dnspython==2.6.1
eventlet==0.33.3
filelock @ file:///C:/b/abs_f2gie28u58/croot/filelock_1700591233643/work
Flask==2.3.0
Flask-Login==0.6.2
Flask-SocketIO==5.3.0
fonttools==4.57.0
fsspec==2025.3.0
gmpy2 @ file:///C:/ci/gmpy2_1645456279018/work
greenlet==3.1.1
h11==0.16.0
idna==3.11
imagecodecs @ file:///C:/b/abs_e2g5zbs1q0/croot/imagecodecs_1695065012000/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1729190692267/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1726082825846/work
importlib_resources==6.4.5
itsdangerous==2.2.0
Jinja2 @ file:///C:/b/abs_92fccttino/croot/jinja2_1716993447201/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
kiwisolver==1.4.7
lazy_loader @ file:///home/conda/feedstock_root/build_artifacts/lazy-loader_1723774329602/work
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
matplotlib==3.7.5
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
networkx @ file:///C:/b/abs_e6gi1go5op/croot/networkx_1690562046966/work
numpy @ file:///C:/Users/dev-admin/mkl/numpy_and_numpy_base_1682982345978/work
opencv-python==4.13.0.92
packaging==26.0
pandas==2.0.3
pillow @ file:///C:/b/abs_32o8er3uqp/croot/pillow_1721059447598/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1726613481435/work
polars==1.8.2
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1717777836653/work
psutil==7.2.2
pyparsing==3.1.4
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
PySocks @ file:///C:/ci/pysocks_1605287845585/work
python-dateutil==2.9.0.post0
python-engineio==4.13.1
python-socketio==5.9.0
pytz==2026.1.post1
PyWavelets @ file:///D:/bld/pywavelets_1695567745247/work
PyYAML @ file:///C:/b/abs_14xkfs39bx/croot/pyyaml_1728657968772/work
qudida @ file:///home/conda/feedstock_root/build_artifacts/qudida_1651101164121/work
requests==2.31.0
scikit-image @ file:///D:/bld/scikit-image_1688804642334/work
scikit-learn @ file:///D:/bld/scikit-learn_1701932176471/work
scipy==1.10.1
simple-websocket==1.1.0
six==1.17.0
sympy @ file:///C:/b/abs_4ay0cgwu2w/croot/sympy_1734629241647/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1689063654925/work
torch==2.4.1+cu124
torchaudio==2.4.1+cu124
torchvision==0.19.1+cu124
tqdm==4.67.3
typing_extensions @ file:///C:/b/abs_0as9mdbkfl/croot/typing_extensions_1715268906610/work
tzdata==2025.3
ultralytics==8.4.19
ultralytics-thop==2.0.18
urllib3 @ file:///C:/b/abs_9a_f8h_bn2/croot/urllib3_1727769836930/work
Werkzeug==2.3.0
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
wsproto==1.2.0
zipp==3.20.2
